

 <h3> <%= link_to("Create A New Cereal Article", new_article_path) %></h3>

<h2 id="feature-header">Featured Cereals</h2>
<!-- 5 most recent -->
<% @articles.each do |article| %>

<div id="#{article.id}" class="featured-article-container">
  <!-- TO DO: INSERT LINKED IMAGE THUMBNAIL FOR ARTICLE -->
  <h3> <%= link_to(article.title, :controller => "revisions", :action => "show", article_id: article.id, id: article.revisions.last.id) %></h3>

  <p class="featured-article-snippet"> <%= raw article.revisions.last.body.split(".")[0..1].join(". ") %>...</p>

  <p class="featured-art-date">Last Revised: <%= article.revisions.last.created_at.strftime("%A, %b %d, %Y") %></p>
  <%if article.creator.name %>
    <p class="featured-art-creator">By: <%= article.creator.name %></p>
  <% end %>
</div>

<% end %>
