<!-- SIDEBAR: CATEGORIES -->
<div id="cat-sidebar">
  <h3>TAGS</h3>
  <ul>
  <% @categories.each do |cat| %>
     <li class ="cat-list-item" ><btn class="cat-btn"><%= link_to(cat.name, :controller => "categories", :action => "show", id: cat.id) %></btn></li>
  <% end %>
  <ul>
</div>


<!-- 5 most recent -->
<h2 id="feature-header">Featured Cereals</h2>

<div id="feature-container">
  <% if @articles.blank? %>
      <h3 class="featured-article-container">There are no articles containing the term <%= params[:search] %>.</h3>
    <% end %>
<% @articles.each do |article| %>
  <div id="#{article.id}" class="featured-article-container">
    <!-- TO DO: INSERT LINKED IMAGE THUMBNAIL FOR ARTICLE -->

    <%= image_tag(article.img_src, size: "150")  %>
    <h3> <%= link_to(article.title, :controller => "revisions", :action => "show", article_id: article.id, id: article.revisions.last.id) %></h3>


    <p class="featured-article-cat"><%= render article.categories %> </p>

    <% if article.revisions.last %>
      <p class="featured-art-date">Last Revised: <%= article.revisions.last.created_at.strftime("%A, %b %d, %Y") %></p>
    <% end %>

    <%if article.creator.name %>
      <p class="featured-art-creator">By: <%= article.creator.name %></p>
    <% end %>


  </div>
<% end %>
<div class="paginate"><%= will_paginate @articles %></div>

</div>

<!-- SIDEBAR: ALL CEREAL -->
<div id="all-cereal-sidebar">

</div>
