<div id="revision_show">
  <h3><%=@article.title%></h3>
  <div class="revision_links">
    <p><%= link_to "Edit this Article", new_article_revision_path(@article) %>
    </p>

    <p> This article has
      <a href="/articles/<%=@article.id%>/revisions"><%=pluralize(@article.revisions.count, 'revisions')%></a>
    </p>
  </div>
  <div class="revision_body">
    <%=raw @revision.body%>
  </div>

</div>
