<div id="revision_show">
  <h3><%=@article.title%></h3>
  <div class="revision_links">
    <p><%= link_to "Edit this Article", new_article_revision_path(@article) %>
    </p>


    <p> This article has
      <a href="/articles/<%=@article.id%>/revisions"><%=pluralize(@article.revisions.count, 'revisions')%></a>
    </p>
    <% if current_user != nil && current_user.is_admin == true %>
    <form action="/articles/<%=@article.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="user_id" value="<%=@article.creator.id%>">
      <input type="submit" value="Delete this Article">
    </form>
    <% end %>
  </div>
  <div class="revision_body">
    <div class="revision-text">
      <%=raw @revision.body%>
    </div>
  </div>

  <div class="sections">
    <h4>Sections</h4>
    <p><a href="#history">History</a></p>
    <p><a href="#about">About</a></p>
    <p><a href="#ingredients">Ingredients</a></p>
  </div>

</div>
