<h3 id="feature-header"><%=@article.title%></h3>
<h3 id="deleted-confirmation feature-header"></h3>
<div id="revision_show">
  <div class="revision_links">


    <% if signed_in? %>
      <p><%= link_to "Edit this Article", new_article_revision_path(@article) %>
      </p>
    <% end %>

    <p> This article has
      <a href="/articles/<%=@article.id%>/revisions"><%=pluralize(@article.revisions.count, 'revisions')%></a>
    </p>

    <% if current_user != nil && current_user.is_admin == true %>
      <%= form_tag(article_path, method: "delete", remote: true) do %>
        <div><%= submit_tag 'Delete' %></div>
      <% end %>
    <% end %>
  </div>
  <div class="revision_body">
    <div class="revision-text">
      <%=raw @revision.body%>
    </div>
  </div>

  <div class="sections">
    <h4>Sections</h4>
    <p><a href="#history">History</a></p>
    <p><a href="#about">About</a></p>
    <p><a href="#ingredients">Ingredients</a></p>
  </div>

</div>
