<div class="article-body-container">
  <h2><%=@article.title%></h2>
  <p id="revision-history">This article has <a href="/articles/<%=@article.id%>/revisions"><%=pluralize(@article.revisions.count, 'revision')%></a> | <%= link_to "Edit this Article", new_article_revision_path(@article) %></p>
  <%=raw @revision.body%>
</div>
