<!DOCTYPE html>
<html>
  <head>
    <title>Cerealwiki</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900italic|Righteous' rel='stylesheet' type='text/css'>
    <script src="//cdn.ckeditor.com/4.5.8/full/ckeditor.js"></script>
  </head>
  <body>

    <header class="layout">
      <div class="layout_inner">
        <h1>Cereal Killers Wiki</h1>
      </div>
      <nav>
        <%= link_to "Home", root_path %>
        <% if user_signed_in? %>
        <% if current_user.is_admin == true %>
        | <%= link_to "Dashboard", admins_path %>
        <% end %>
        | <%= link_to "New Article", new_article_path %>
        | <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        <% else %>
        | <%= link_to "Sign In", new_user_session_path %> |
        <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </nav>
    </header>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
