<!DOCTYPE html>
<html>
<head>
  <title>Cerealwiki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
  <div class="main-container">
    <%= yield %>
  </div>
=======
<header>
  <h1>Cereal Killers Wiki</h1>
</header>

<%= yield %>

>>>>>>> master
</body>
</html>
